# VSCode settings
.vscode/
auto-download.log
check-update.log
debug-auto-download.log
FLOW_DIAGRAM.md
auto-download/auto-download1.log
auto-download/auto-download2.log
auto-download/check-update1.log
auto-download/check-update2.log
.gitignore
auto-download/CHMOD_SUMMARY.md
